[Unit]
Description=Nagios check_updates cache service

[Service]
Type=simple
User=nrpe
Group=nrpe
ExecStart=/usr/local/bin/check_updates_daemon
ExecReload=/bin/rm -f /var/cache/nrpe/check_updates
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
